<h1>You successfully submitted the new painting:</h1>
<h2><%= @painting.name %></h2>
<div><img src="<%= @painting.image %>"></div>
<p><%= @painting.price %></p>
<p><%= @painting.description %></p>

<p><a href="/paintings">Back to all paintings</p>