<h1>All Paintings</h1>

<div class="container">
  <% @all_paintings.each do |painting| %>
    <h2><%= painting.name %></h2>
    <div><img src="<%= painting.image %>"></div>
    <p><%= painting.price %></p>
    <p><%= painting.description %></p>
  
    <hr>
  <% end %>
</div>