body {
  font-family: Verdana,Geneva,sans-serif;
  background: url("knitting250px.png");
}

.well {
  width: 300px;
  height: 450px;
  border-radius: 30px;
}

img.index-thumb {
  width: 400px;
  padding: 1%;
  border-radius: 30px;
}

